<?xml version="1.0"?>
<launch>
  <node name="Unit_Test_Prediction" pkg="lidar" type="test_ekf_prediction.py" output="screen"/>
  <node name="Unit_Test_Correction" pkg="lidar" type="test_ekf_correction.py" output="screen"/>

  <node name="landmark_extraction" pkg="lidar" type="landmark_extraction.py" output="screen">
  	<param name="minimum_valid_distance" value="10"/>
  	<param name="depth_jump" value="0.025"/>
  	<param name="cylinder_offset" value="10"/>
  	<param name="max_landmark_radius" value="0.5"/>
  </node>

  <node name="ekf" pkg="lidar" type="ekf_main.py" output="screen">
    <param name="ticks_to_mm" value="0.349"/>
  	<param name="robot_width" value="200.0"/>
  	<param name="scanner_displacement" value="10.0"/>
  	<param name="control_motion_factor" value="0.35"/>
  	<param name="control_turn_factor" value="0.6"/>
  	<param name="measurement_distance_stddev" value="600.0"/>
  	<param name="measurement_angle_stddev" value="0.7854"/>
  	<param name="x0" value="0.0"/>
  	<param name="y0" value="0.0"/>
  	<param name="theta0" value="0.0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="landmark_laser_to_map" args="0 0 0 0 0 0 1 /map /landmark_frame 1000"/>
</launch>