<?xml version="1.0"?>
<launch>
  <!-- Set Gazebo Arguments -->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <!-- Launch Gazebo Simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mybot_gazebo)/worlds/turtlebot_playground.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Insert Robot Model -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find gazebo)/urdf/diff_bot.xacro'"/>

  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model diff_bot" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <!--node name="rviz" pkg="rviz" type="rviz"/-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo)/rviz/lidar.rviz"/>

  <!-- Use controller joystick input -->
  <node name="joy_node" pkg="joy" type="joy_node">
    <param name="input" value="/dev/input/js0"/>
    <param name="autorepeat_rate" value="15.0"/>
    <param name="deadzone" value="0.0"/>
  </node>

  <!-- Publish twist commands to /cmd_vel -->
  <node name="joystick_input" pkg="gazebo" type="diff_drive.py"/>
</launch>
